<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for([:admins, question], :html => { :class => 'form-horizontal' }) do |f| %>
          <% if question.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <strong>Ops! <%= pluralize(question.errors.count, "error") %> found:</strong><br/>
              <ul>
                <% question.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :question, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_area :question, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :answer, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_area :answer, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :attachment, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.file_field :attachment %>
              <% if question.attachment.present? %>
                <p class="text-warning">NOTE: This question has attachment uploaded, changing this will replace the old one.</p>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 text-right">
              <%= link_to admins_questions_path, :class => 'btn btn-warning' do %>
                <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
              <% end %>
            </div>
            <div class="col-md-6 text-left">
              <%= f.submit 'Save', :class => 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
