<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Vacancies', admins_vacancies_path %>
    <%= breadcrumb_item 'Edit Vacancy' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Edit <%= @vacancy.position %></h1>
  </div>
</div>

<%= render 'form', vacancy: @vacancy %>

