<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Channel Groups', admins_channel_groups_path %>
    <%= breadcrumb_item 'Create Channel Group' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create a Channel Group</h1>
  </div>
</div>

<%= render 'form', channel_group: @channel_group %>
