<!-- channel list -->
      <section class="channel-list-page" style="background: url(<%= (@channel_city.background.present?) ? @channel_city.background : asset_url('sample-channel-list.jpg') %>);background-size: cover;background-position: center;">
        <div class="container">
          <div class="channel-list-box col-md-12 col-xs-12 absolute-parent">
            <div class="title-channel-area-new text-center">
              <h2 class="bold white uppercase"><%= @channel_city.panel_name %></h2>

              <p class="white ket-search">Masukan lokasi anda di bawah</p>

              <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" id="check-area" placeholder="Masukan lokasi anda" />
                    <input type="hidden" class="form-control input-lg" id="slug" />
                    <input type="hidden" class="form-control input-lg" id="temp_area" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" id="btn-check-area">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
              </div>

            </div>

          </div>
        </div>
      </section>

      <section class="channel-list-all">
        <div id="detail-list"></div>
      </section>

<!-- contact-us -->
<%#=render "contact_us", preference: @preference %>

<!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content subscribe-modal">
            <!-- <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div> -->
            <div class="modal-body">
              <p class="text-center">Area tidak terjangkau</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<%= content_for :javascript do %>
    <script>
        $("#btn-check-area").click(function(){
          if($("#check-area").val() != "")
            showResultOnClicked($("#slug").val())
        })

        $("#check-area").keypress(function(e) {
            if($(this).val != "" && e.which == 13){
              showResultOnClicked($("#slug").val())
            }
        });

        $( "#check-area" ).autocomplete({
          source: function( request, response ) {
            $.ajax({
              url: "<%=public_autocomplete_area_path%>",
              dataType: "json",
              data: {
                q: request.term,
                slug: "<%=params[:slug_id]%>"
              },
              success: function( data ) {
                $("#slug").val("")
                $("#detail-list").html("")
                response( $.map( data, function( item ) {
                  $("#temp_area").val(item.area)
                  $("#slug").val(item.slug)
                  return $.extend(item, ({label: item.area, value: item.id, id: item.id}));
                }));
              }
            });
          },
          select: function( event, ui ) {
            event.preventDefault();
            if(ui.item.id == undefined){
                $("#slug").val("")
                $("#detail-list").html("")
            }else{
              showResult(ui.item.slug)
              $("#slug").val(ui.item.slug)
              $("#check-area").val(ui.item.label)
            }
          },
          open: function() {
            $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
          },
          close: function() {
            $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
          }
        });

        equalheight = function(container){

        var currentTallest = 0,
             currentRowStart = 0,
             rowDivs = new Array(),
             $el,
             topPosition = 0;
         $(container).each(function() {

           $el = $(this);
           $($el).height('auto')
           topPostion = $el.position().top;

           if (currentRowStart != topPostion) {
             for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
               rowDivs[currentDiv].height(currentTallest);
             }
             rowDivs.length = 0; // empty the array
             currentRowStart = topPostion;
             currentTallest = $el.height();
             rowDivs.push($el);
           } else {
             rowDivs.push($el);
             currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
           for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
             rowDivs[currentDiv].height(currentTallest);
           }
         });
        }

        $(window).load(function() {
          equalheight('.same-height');
        });


        $(window).resize(function(){
          equalheight('.same-height');
        });


        function showResult(val){
          $.ajax({
              url: "<%=public_channel_detail_path(slug_id: params['slug_id']) %>",
              dataType: "script",
              data: {
                area_slug_id: val
              },
              success: function( data ) {
                // console.log('test')
              }
            });
        }

        function showResultOnClicked(val){
          if($("#slug").val() == ""){
            $("#myModal").modal('show')
          }else{
            showResult(val)
            $("#check-area").val($("#temp_area").val())
          }
        }

        </script>

<% end %>
