<!-- main carousel -->
<section id="sec-home" class="caro-sect">
  <div class="container-fluid">
    <div class="row">
      <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @landing_images.count.times do |i| %>
            <li data-target="#main-carousel" data-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner caro-mega1" role="listbox">
          <% if @landing_images.present? %>
            <% @landing_images.each_with_index do |landing_image, index| %>
             <div class="item <%= index == 0 ? 'active' : '' %>"">
                <div class="caro-cover mob"> <!-- cover buat mobile -->
                  <%= image_tag landing_image.background_url %>
                </div>

                <div class="caro-cover desk"> <!-- cover buat desktop -->
                  <%= image_tag landing_image.addon_image_url %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="item active"">
              <div class="caro-cover mob"> <!-- cover buat mobile -->
                <%= image_tag "sample-carousel-mobile.jpg" %>
              </div>

              <div class="caro-cover desk"> <!-- cover buat desktop -->
                <%= image_tag "sample-carousel-desk.jpg" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product -->
<!-- <section id="sec-product" class="product-sect">
  <div class="container">
    <div class="row">
      <h2 class="mega-blue bold text-center"><b>Our Product</b></h2>
      <div class="product-list text-center">
        <a href="#about-megavision" class="tv-kabel">
          <span class="icon-satelit big-one"></span>
          <h2><b>TV Kabel</b></h2>
        </a>
        <a href="#about-megavision" class="tv-kabel">
          <span class="icon-wifi big-one"></span>
          <h2><b>Internet</b></h2>
        </a>
      </div>
    </div>
  </div>
</section>
 -->
<!-- about megavision -->
<section id="about-megavision" class="about-mega">
  <div class="container text-center">
    <div class="row">
      <div class="mega-logo-tag">
        <%= image_tag 'logo-tag.png' %>
      </div>
      <p><%= @preference.about_megavision %></p>
      <div class="mega-benefit">
        <div class="benefit-det text-center">
          <%= image_tag 'sample-tv-parallel.png', :class => 'benefit-img' %>
          <h5 class="mega-blue">TV bisa paralel beda acara</h5>
        </div>

        <div class="benefit-det text-center">
          <%= image_tag 'sample-money.png', :class => 'benefit-img' %>
          <h5 class="mega-blue">Lebih hemat dan lebih stabil</h5>
        </div>

        <div class="benefit-det text-center">
          <%= image_tag 'sample-free-modem.png', :class => 'benefit-img' %>
          <h5 class="mega-blue">Gratis modem dan router wifi</h5>
        </div>

        <div class="benefit-det text-center">
          <%= image_tag 'sample-unlimited-quota.png', :class => 'benefit-img' %>
          <h5 class="mega-blue">Unlimited tanpa kuota dan batas pemakaian</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- area channel -->
<section class="area-channel-sect text-center" style="background: url(<%= (@preference.background_area_channel.present?) ? @preference.background_area_channel : asset_url('sample-area-channel.jpg') %>);">
  <div class="container">
    <div class="row">
        <% @channel_cities.each do |channel_city| %>
          <div class="channel-sec">
          <%= link_to public_channel_detail_path(channel_city.slug), :class => 'channel-btn' do %>
            <div class="border-1px outer-border">
              <div class="channel-btn-name">
                <p class="font-18"><b class="font-24"><%= channel_city.city %></b><br>Channel List</p>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>
    </div>
  </div>
</section>

<!-- starnet -->
<!-- <section class="starnet-sect">
  <div class="container">
    <div class="row">
      <div class="starnet-det text-center">
        <div class="logo-star">
          <%= image_tag 'logo-starnet.png' %>
        </div>
        <div class="starnet-detail">
          <p><%= @preference.about_starnet %></p>
        </div>
        <div class="starnet-prices">
          <% @prices.each do |price| %>
            <div class="star-price text-right">
              <h2><%= format_number_to_price_tag(price.amount) %></h2>
              <p><em>up to <%= [price.up_to_speed, price.unit].join(' ') %></em></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- questions and answers -->
<section id="sec-qa" class="q-and-a-sect" style="background: url(<%= (@preference.background_question_answer.present?) ? @preference.background_question_answer : asset_url('sample-q-a.jpg') %>);background-size: cover;background-position: center;">
  <div class="container">
    <div class="row">
      <h2 class="uppercase text-center white bold">Questions and Answers</h2>
      <div class="panel-group " id="accordion-question">
        <% @questions.each_with_index do |question, index| %>
          <div class="panel panel-default bg-transparent">
            <div class="panel-heading bg-transparent question-title">
              <h4 class="panel-title mega-yellow bold border-bot-1px">
                <a data-toggle="collapse" data-parent="#accordion-question" href="#question<%= index %>">
                  <%= question.question %><i class="fa fa-plus-circle pull-right font-18" aria-hidden="true"></i>
                </a>
              </h4>
            </div>
            <div id="question<%= index %>" class="panel-collapse collapse">
              <div class="panel-body white no-border"><%= question.answer %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- about us -->
<section id="sec-about" class="about-us-sect">
  <div class="container-fluid no-padding">
    <h2 class="mega-blue uppercase text-center bold">About Us</h2>
    <div class="short-history">
      <div class="singkatnya blue-bg col-xs-12 col-md-12 no-padding" >
        <div class="img-thumb col-md-5 col-xs-12 no-padding" style="background: url(<%= (@preference.background_history.present?) ? @preference.background_history : asset_url('sample-history.jpg') %>);background-size: cover;background-position: center;"></div>
        <div class="col-md-7 col-xs-12">
          <h3 class="white">Sejarah Singkat</h3>
          <div class="white"><%= simple_format @preference.company_history %></div>
          </p>
        </div>
      </div>
    </div>

    <hr class="border-white-1px">

    <div class="short-history">
      <div class="singkatnya blue-bg col-xs-12 col-md-12 no-padding" >
        <div class="col-md-7 col-xs-12">
          <h3 class="white">Visi dan Misi</h3>
          <ul>
            <% @preference.company_vision_missions.each do |vm| %>
              <li class="white"><%= vm %></li><br/>
            <% end %>
          </ul>
        </div>
        <div class="img-thumb col-md-5 col-xs-12 no-padding" style="background: url(<%= (@preference.background_vision_mission.present?) ? @preference.background_vision_mission : asset_url('sample-vision.jpg') %>);background-size: cover;background-position: center;"></div>
      </div>
    </div>
  </div>
</section>

<!-- job vacancy -->
<section id="sec-vacancy" class="job-vacan-sect" style="background: url(<%= (@preference.background_vacancy.present?) ? @preference.background_vacancy : asset_url('sample-vacancy.jpg') %>);background-size: cover;background-position: center;">
  <div class="container">
    <h2 class="uppercase text-center white bold">Job Vacancy</h2>
    <% @vacancies.each do |vacancy| %>
      <div class="btn-group-vacan col-md-3 col-sm-4 col-xs-6">
        <%= link_to public_job_vacancy_detail_path(vacancy.slug), :class => 'btn-vacan col-xs-12 border-1px-white no-padding' do %>
          <div class=" text-center">
            <div class="border-bot-1px bg-white-opa"><h3><%= vacancy.position %></h3></div>
            <div class="img-vacan">
              <%= image_tag vacancy.icon_url %>
            </div>
            <span class="border-1px-white pull-right">more-detail</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<!-- contact-us -->
<section id="sec-contact" class="contact-sect" style="background: url(<%= (@preference.background_contact.present?) ? @preference.background_contact : asset_url('sample-contact.jpg') %>);background-size: cover;background-position: center;">
  <div class="container">
    <h2 class="uppercase text-center white bold">Contact Us</h2>
    <div class="col-md-4 col-sm-5 col-xs-12 address white">
      <% @preference.addresses.each do |address| %>
        <% splitted = address.split('|') %>
        <div class="address-det">
          <h4 class="bold white no-margin"><%= splitted[0] %></h4>
          <p class="no-margin font-12"><%= splitted[1] %></p>
          <p class="no-margin font-12">Tel. <%= splitted[2] %></p>
        </div>
      <% end %>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12 contact-form">
      <%= form_tag public_submit_contact_path, id: 'contact' do %>
        <div class="form-group contact-input">
          <%= text_field_tag :name, '', :placeholder => 'Name', :class => 'form-control', :required => true %>
        </div>

        <div class="form-group contact-input">
          <%= email_field_tag :email, '', :placeholder => 'Email', :class => 'form-control', :required => true %>
        </div>

        <div class="form-group contact-input">
          <%= text_field_tag :subject, '', :placeholder => 'Subject', :class => 'form-control', :required => true %>
        </div>

        <div class="form-group contact-input">
          <%= text_area_tag :message, '', :placeholder => 'Message', :rows => 6, :class => 'form-control textarea', :required => true %>
        </div>

        <div class="form-group contact-input">
          <%= recaptcha_tags %>
        </div>

        <%= submit_tag 'Send Message', :class => 'btn-send' %>
      <% end %>
    </div>
  </div>
</section>
