<!-- main carousel -->
<% unless @beranda.hidden_content %>
  <% carousel_indicator = "" %>
  <% carousel_image = "" %>
  <% if @landing_images.present? %>
    <% @landing_images.each_with_index do |landing_image, index| %>
      <% class_active = (index == 0) ? 'active' : '' %>
      <% carousel_indicator += @beranda_carousel_indicator.render({"index" => index, "class_active" => class_active }, { strict_variables: true }).html_safe%>
      <% carousel_image += @beranda_carousel_image.render({"class_active" => class_active, "cover_mobile" => landing_image.background_url, "cover_desktop" => landing_image.addon_image_url}) %>
    <% end %>
  <% end %>

  <%=@beranda_html.render({"carousel_indicator" => carousel_indicator, "carousel_image" => carousel_image, "section_home" => 'beranda'}, { strict_variables: true }).html_safe%>

<% end %>

<!-- product -->
<!-- <section id="sec-product" class="product-sect">
  <div class="container">
    <div class="row">
      <h2 class="mega-blue bold text-center"><b>Our Product</b></h2>
      <div class="product-list text-center">
        <a href="#about-megavision" class="tv-kabel">
          <span class="icon-satelit big-one"></span>
          <h2><b>TV Kabel</b></h2>
        </a>
        <a href="#about-megavision" class="tv-kabel">
          <span class="icon-wifi big-one"></span>
          <h2><b>Internet</b></h2>
        </a>
      </div>
    </div>
  </div>
</section>
 -->
<!-- about megavision -->
<% about_product = "" %>

<%if @products.present?%>
  <% @products.each do |product|%>
    <% about_product += @about_product_html.render({"product_image" => product.icon_url, "product_title" => product.title, "product_description" => product.description}, { strict_variables: true }).html_safe %>
  <% end %>
<% end %>

<%=@about_html.render({"about_product_megavision" => about_product, "section_about" => 'sec-product'}, { strict_variables: true }).html_safe%>

<!-- area channel -->
<% unless @paket.hidden_content %>
  <% channel_city_list = "" %>
  <% @channel_cities.each do |channel_city|%>
    <% link_package = @paket.disable_content ? "#" : public_channel_detail_path(channel_city.slug) %>
    <% channel_city_list += @paket_channel_city.render({"link_package" => link_package, "city_name" => channel_city.city}, { strict_variables: true }).html_safe %>
  <% end %>

  <%=@paket_html.render({"channel_city" => channel_city_list, "background_area_channel_url" => (@preference.background_area_channel.present?) ? @preference.background_area_channel_url : asset_url('sample-area-channel.jpg'), "section_package" => 'paket'}, { strict_variables: true }).html_safe%>

<% end %>

<!-- movie schedule -->
<% unless @jadwal_acara.hidden_content %>
  <% movie_schedule_list = "" %>
  <% if @movie_schedules.present? %>
    <% @movie_schedules.each do |movie_schedule| %>
      <% link_movie = "#" %>
      <% unless @jadwal_acara.disable_content %>
        <% if movie_schedule.schedule_attachment %>
          <% link_movie = movie_schedule.schedule_attachment_url %>
        <% end %>
      <% end %>

      <% movie_schedule_list += @jadwal_movie_html.render({"link_schedule" => link_movie, "movie_title" => movie_schedule.title, "movie_logo" => movie_schedule.logo_url}, { strict_variables: true }).html_safe %>

    <% end %>
  <% end %>

  <%=@jadwal_html.render({"movie_schedule" => movie_schedule_list, "section_movie_schedule" => 'jadwal-acara'}, { strict_variables: true }).html_safe%>

<% end %>

<!-- starnet -->
<!-- <section class="starnet-sect">
  <div class="container">
    <div class="row">
      <div class="starnet-det text-center">
        <div class="logo-star">
          <%= image_tag 'logo-starnet.png' %>
        </div>
        <div class="starnet-detail">
          <p><%= @preference.about_starnet %></p>
        </div>
        <div class="starnet-prices">
          <% @prices.each do |price| %>
            <div class="star-price text-right">
              <h2><%= format_number_to_price_tag(price.amount) %></h2>
              <p><em>up to <%= [price.up_to_speed, price.unit].join(' ') %></em></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- questions and answers -->
<% unless @faq.hidden_content %>

  <% faq_list = "" %>

  <% @questions.each_with_index do |question, index| %>
    <% download_attachment = "" %>
    <% if question.attachment.present? %>
      <% download_attachment = "<p>" + (link_to 'Download Attachment', question.attachment_url) +"</p>" %>
    <% end %>
    <% faq_list += @faq_list_html.render({"index" => index, "question" => question.question, "answer" => question.answer, "download_attachment" => download_attachment}, { strict_variables: true }).html_safe %>
  <% end %>

  <%=@faq_html.render({"section_faq" => 'faq',
  "background_question_answer" => (@preference.background_question_answer.present?) ? @preference.background_question_answer_url : asset_url('sample-q-a.jpg'),
  "faq_list" => faq_list}, { strict_variables: true }).html_safe%>

<% end %>

<!-- about us -->
<% unless @sejarah.hidden_content %>

  <% visi_misi_list = "" %>

  <% @preference.company_vision_missions.each do |vm| %>
    <% visi_misi_list += @visi_misi_html.render({"vission_mission" => vm}, { strict_variables: true }).html_safe %>
  <% end %>

  <%=@sejarah_html.render({"section_history" => 'sejarah', "background_history" => (@preference.background_history.present?) ? @preference.background_history_url : asset_url('sample-history.jpg'), "company_history" => (simple_format @preference.company_history), "background_vision_mision" => (@preference.background_vision_mission.present?) ? @preference.background_vision_mission_url : asset_url('sample-vision.jpg'), "vision_mission_list" => visi_misi_list}, { strict_variables: true }).html_safe%>

<% end %>

<!-- job vacancy -->
<% unless @karir.hidden_content %>

  <% karir_list = "" %>
  <% @vacancies.each do |vacancy| %>
    <% link_vacancy = @karir.disable_content ? "#" : public_job_vacancy_detail_path(vacancy.slug) %>
    <% karir_list += @vacancy_html.render({"vacancy_link" => link_vacancy, "vacancy_position" => vacancy.position, "vacancy_icon" => vacancy.icon_url}, { strict_variables: true }).html_safe %>
  <% end %>

  <%=@karir_html.render({"vacancy_list" => karir_list, "background_vacancy" => (@preference.background_vacancy.present?) ? @preference.background_vacancy_url : asset_url('sample-vacancy.jpg'), "section_vacancy" => 'karir'}, { strict_variables: true }).html_safe%>

<% end %>

<!-- contact-us -->
<% unless @kontak_kami.hidden_content %>
  <% disable_content = @kontak_kami.disable_content %>

  <% address_list = "" %>
  <% @preference.addresses.each do |address| %>
    <% splitted = address.split('|') %>
    <% address_list += @addresslist_html.render({"city" => splitted[0], "address" => splitted[1]}, { strict_variables: true }).html_safe %>
  <% end %>

  <%form_contact= form_tag public_submit_contact_path, id: 'contact' do %>
    <div class="form-group contact-input">
      <%= text_field_tag :name, '', :placeholder => 'Name', :class => 'form-control', :required => true, disabled: disable_content %>
    </div>

    <div class="form-group contact-input">
      <%= email_field_tag :email, '', :placeholder => 'Email', :class => 'form-control', :required => true, disabled: disable_content %>
    </div>

    <div class="form-group contact-input">
      <%= text_field_tag :subject, '', :placeholder => 'Subject', :class => 'form-control', :required => true, disabled: disable_content %>
    </div>

    <div class="form-group contact-input">
      <%= text_area_tag :message, '', :placeholder => 'Message', :rows => 6, :class => 'form-control textarea', :required => true, disabled: disable_content %>
    </div>

    <% unless disable_content %>
      <div class="form-group contact-input">
        <%= recaptcha_tags %>
      </div>
    <% end %>

    <%= submit_tag 'Send Message', :class => 'btn-send', disabled: disable_content %>
  <% end %>

  <%=@kontak_html.render({"address_list" => address_list, "background_contact" => (@preference.background_contact.present?) ? @preference.background_contact_url : asset_url('sample-contact.jpg'), "section_contact" => 'kontak-kami', "form_contact" =>form_contact}, { strict_variables: true }).html_safe%>

  <%#=@kontak_html "contact_us", preference: @preference, kontak_kami: @kontak_kami %>

<% end %>
