<!-- main carousel -->
<section class="caro-sect">
  <div class="container-fluid">
    <div class="row">
      <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#main-carousel" data-slide-to="1"></li>
          <li data-target="#main-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner caro-mega1" role="listbox">
          <div class="item active">
            <div class="detail-caro1 blue-opa">
              <div class="center">
                <h2 class="det-title bold italic"><i>Seru Tontonannya<br>Puas Internetannya</i></h2>
                <p class="text-center white">Kini nikmati internet stabil dan cepat tanpa gangguan dengan teknologi fiber. Nikmati juga berbagai tayangan dan hiburan menarik hanya untuk anda.</p>
                <a href="" class="jadwal-mov"><%= image_tag 'sample-movie-icon.png' %></a>
              </div>
            </div>
            <%= image_tag 'sample-carousel-1.jpg', :class => 'full-img' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product -->
<section class="product-sect">
  <div class="container">
    <div class="row">
      <h2 class="mega-blue bold text-center"><b>Our Product</b></h2>
      <div class="product-list text-center">
        <a href="#" class="tv-kabel">
          <span class="icon-satelit big-one"></span>
          <h2><b>TV Kabel</b></h2>
        </a>
        <a href="#" class="tv-kabel">
          <span class="icon-wifi big-one"></span>
          <h2><b>Internet</b></h2>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- about megavision -->
<section class="about-mega">
  <div class="container text-center">
    <div class="row">
      <div class="mega-logo-tag">
        <%= image_tag 'logo-tag.png' %>
      </div>
      <p>Teknologi jaringan yang dapat digunakan untuk mendukung pelayanan TV Kabel adalah HFC (Hybrid Fiber Coax), yang merupakan salah satu teknologi akses yang dibentuk dari gabungan jaringan fiber dan jaringan coaxial. Teknologi HFC ini sudah dipergunakan oleh operator TV Kabel untuk menyalurkan program televisi secara broadcast melalui kabel. Bandwidth yang dipergunakan adalah 450 MHz atau 650 MHz yang hanya digunakan untuk komunikasi satu arah. Dengan adanya dorongan untuk mengembangkan layanan informasi maka HFC yang semula digunakan untuk komunikasi satu arah kemudian dimodifikasi menjadi pelayanan dua arah. Untuk pelayanan informasi dua arah tersebut sistem HFC dibuat dengan kemampuan bandwidth sampai dengan 860 MHz, yaitu 5 sampai dengan 50 MHz untuk Upstream dan 70 sampai dengan 860 MHz untuk Downstream.</p>
      <div class="mega-benefit">
        <div class="benefit-det text-center">
          <%= image_tag 'sample-tv-parallel.png', :class => 'benefit-img' %>
          <h5 class="mega-blue">TV bisa paralel beda acara</h5>
        </div>

        <div class="benefit-det text-center">
          <%= image_tag 'sample-money.png', :class => 'benefit-img' %>
          <h5 class="mega-blue">Lebih hemat dan lebih stabil</h5>
        </div>

        <div class="benefit-det text-center">
          <%= image_tag 'sample-free-modem.png', :class => 'benefit-img' %>
          <h5 class="mega-blue">Gratis modem dan router wifi</h5>
        </div>

        <div class="benefit-det text-center">
          <%= image_tag 'sample-unlimited-quota.png', :class => 'benefit-img' %>
          <h5 class="mega-blue">Unlimited tanpa kuota dan batas pemakaian</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- area channel -->
<section class="area-channel-sect text-center" style="background: url(<%= asset_url('sample-area-channel.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="channel-bdg">
        <a href="channel.html" class="channel-btn">
          <div class="border-1px outer-border">
            <div class="channel-btn-name">
              <p class="font-18"><b class="font-24">BANDUNG</b><br>Channel List</p>
            </div>
          </div>
        </a>
      </div>
      <div class="channel-bogor">
        <a href="channel.html" class="channel-btn">
          <div class="border-1px outer-border">
            <div class="channel-btn-name">
              <p class="font-18"><b class="font-24">BOGOR</b><br>Channel List</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- starnet -->
<section class="starnet-sect">
  <div class="container">
    <div class="row">
      <div class="starnet-det text-center">
        <div class="logo-star">
          <%= image_tag 'logo-starnet.png' %>
        </div>
        <div class="starnet-detail">
          <p>Megavision adalah layanan TV Kabel plus Internet Broadband. Dengan layanan kami ini, pelanggan dapat menikmati puluhan channel unggulan dari mancanegara selama 24 jam, sekaligus dapat mengakses internet berkecepatan tinggi dengan koneksi stabil dan tanpa kuota (unlimited). Paket Megavision internet merupakan pilihan pebisnis & keluarga modern masa kini, karena merupakan layanan unlimited Broadband Internet dengan akses internet kecepatan tinggi dan koneksi internet yang stabil tanpa saluran telepon.Kami menawarkan kecepatan internet yang lebih tinggi hingga 5 Mbps,untuk memenuhi kebutuhan bisnis pribadi, kantor  dan usaha menengah yang membutuhkan kecepatan tinggi Jelajahi dunia maya dan semua aktivitas internet Anda akan lebih nyaman dengan produk Kami.</p>
        </div>
        <div class="starnet-prices">
          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>

          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>

          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>

          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>

          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>

          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>

          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>

          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>

          <div class="star-price text-right">
            <h2><sup class="font-18">Rp</sup>149.<sup class="font-18">000</sup><sub class="font-12">/BLN</sub></h2>
            <p><em>up to 3 mbps</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- questions and answers -->
<section class="q-and-a-sect" style="background: url(<%= asset_url('sample-q-a.jpg') %>);background-size: cover;background-position: center;">
  <div class="container">
    <div class="row">
      <h2 class="uppercase text-center white bold">Questions and Answers</h2>
      <div class="panel-group " id="accordion-question">
        <div class="panel panel-default bg-transparent">
          <div class="panel-heading bg-transparent question-title">
            <h4 class="panel-title mega-yellow bold border-bot-1px">
              <a data-toggle="collapse" data-parent="#accordion-question" href="#question1">
                Apa saja channel yang diberikan?<i class="fa fa-plus-circle pull-right font-18" aria-hidden="true"></i>
              </a>
            </h4>
          </div>
          <div id="question1" class="panel-collapse collapse in">
            <div class="panel-body white no-border">Menyajikan kepada pemirsa channel lengkap sesuai kebutuhan keluarga mulai dari saluran keluarga, channel favorit anak, film, olah raga, pengetahuan, hiburan, berita nasional maupun Internasional.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about us -->
<section class="about-us-sect">
  <div class="container-fluid no-padding">
    <h2 class="mega-blue uppercase text-center bold">About Us</h2>
    <div class="short-history">
      <div class="singkatnya blue-bg col-xs-12 col-md-12 no-padding" >
        <div class="img-thumb col-md-5 col-xs-12 no-padding" style="background: url(<%= asset_url('sample-history.jpg') %>);background-size: cover;background-position: center;"></div>
        <div class="col-md-7 col-xs-12">
          <h3 class="white">Sejarah Singkat</h3>
          <p class="white">PT Indonesia Broadband Communication (Megavision) adalah perusahaan yang bergerak di bidang jasa telekomunikasi khususnya, TV Kabel. Megavision berdiri pada tanggal 4 Mei 2001 dan beralamat di Jalan Karang Layung 27 Bandung. <br><br>

          Tidak hanya di Bandung, Megavision pun melakukan pengembangan ke wilayah Bogor, Semarang, Malang, Medan, Bekasi, Depok, Balikpapan, Palembang, dan kota lainnya. Dengan menggunakan teknologi kabel coaxial dan fiber optic, Megavision telah melakukan penjualan di seluruh area yang sudah tercover di Indonesia.<br><br>

          Di Bogor, Megavision berdiri dan berkembang dengan nama PT. Indonesia Cable Network pada tanggal 28 November 2008. Lalu Megavision mengembangkan teknologinya tidak hanya TV Kabel tetapi juga produk Internet. </p>
        </div>
      </div>
    </div>

    <hr class="border-white-1px">

    <div class="short-history">
      <div class="singkatnya blue-bg col-xs-12 col-md-12 no-padding" >
        <div class="col-md-7 col-xs-12">
          <h3 class="white">Visi dan Misi</h3>
          <ul>
            <li class="white">Memberikan kemudahan kepada masyarakat dalam mendapatkan akses informasi yang disajikan oleh penyelenggara jasa TV Kabel melalui pembangunan jaringan HFC (Hybrid Fiber Coaxial)</li> <br>
            <li class="white">Menyediakan pelayanan dengan standar internasional</li><br>
            <li class="white">Menghubungkan industri, pemerintah dan masyarakat, sehingga tercipta kondisi yang selaras dan seimbang utamanya dalam penataan penyelenggaraan telekomunikasi di Indonesia</li><br>
            <li class="white">Menunjang program pemerintah dalam meningkatkan taraf hidup masyarakat</li><br>
          </ul>
        </div>
        <div class="img-thumb col-md-5 col-xs-12 no-padding" style="background: url(<%= asset_url('sample-vision.jpg') %>);background-size: cover;background-position: center;"></div>
      </div>
    </div>
  </div>
</section>

<!-- job vacancy -->
<section class="job-vacan-sect" style="background: url(<%= asset_url('sample-vacancy.jpg') %>);background-size: cover;background-position: center;">
  <div class="container">
    <h2 class="uppercase text-center white bold">Job Vacancy</h2>
    <% @vacancies.each do |vacancy| %>
      <div class="btn-group-vacan col-md-3 col-sm-4 col-xs-6">
        <%= link_to public_job_vacancy_detail_path(vacancy.slug), :class => 'btn-vacan col-xs-12 border-1px-white no-padding' do %>
          <div class=" text-center">
            <div class="border-bot-1px bg-white-opa"><h3><%= vacancy.position %></h3></div>
            <div class="img-vacan">
              <%= image_tag vacancy.icon_url %>
            </div>
            <span class="border-1px-white pull-right">more-detail</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<!-- contact-us -->
<section class="contact-sect" style="background: url(<%= asset_url('sample-contact.jpg') %>);background-size: cover;background-position: center;">
  <div class="container">
    <h2 class="uppercase text-center white bold">Contact Us</h2>
    <div class="col-md-4 col-sm-5 col-xs-12 address white">
      <div class="address-det">
        <h4 class="bold white no-margin">Bandung 1</h4>
        <p class="no-margin font-12">Jl. Karang Tinggal No. 27 Cipedes Sukajadi</p>
        <p class="no-margin font-12">Tel. 022 - 2042624</p>
      </div>

      <div class="address-det">
        <h4 class="bold white no-margin">Bandung 1</h4>
        <p class="no-margin font-12">Jl. Karang Tinggal No. 27 Cipedes Sukajadi</p>
        <p class="no-margin font-12">Tel. 022 - 2042624</p>
      </div>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-12 contact-form">
      <div class="form-group contact-input">
        <input type="name" class="form-control" placeholder="Name">
      </div>

      <div class="form-group contact-input">
        <input type="name" class="form-control" placeholder="Email">
      </div>

      <div class="form-group contact-input">
        <input type="name" class="form-control" placeholder="Subject">
      </div>

      <div class="form-group contact-input">
        <textarea rows="6" class="textarea" placeholder="Messsage"></textarea>
      </div>

      <a href="" class="btn-send">Send Message</a>
    </div>
  </div>
</section>
