<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Area Coverages', admins_area_coverages_path %>
    <%= breadcrumb_item 'Create Area Coverage' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create a Area Coverage</h1>
  </div>
</div>

<%= render 'form', area_coverage: @area_coverage %>
