<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Admin Login Logs' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Admin Login Logs</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped table-hover datatable">

          <thead>
            <tr>
              <th>Admin email</th>
              <th>Signed in at</th>
            </tr>
          </thead>

          <tbody>
            <% if @logs.empty? %>
              <tr>
                <td colspan="3">You have no log</td>
              </tr>
            <% else %>
              <% @logs.each do |log| %>
                <tr>
                  <td><%= log.admin.try(:email) %></td>
                  <td><%= log.data[:current_sign_in_at] %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
      $(".datatable").DataTable({
        "order": [[ 1, "desc" ]],
        "sScrollX": true,
        "sScrollXInner": "110%",
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      });
    });
  </script>
<% end %>

