<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Chats' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Support Chat </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="tab-content msg-body">
        </div>
        <div class="add-content-wrapper">
             <input type="hidden" name= "key" id="key" />
            <textarea class="full-input" rows="4" id="chat-message"></textarea>
             <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading text-center uppercase bold"> Unanswer </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked user-list" id="list-unanswer">
        </ul>
        </div>
      </div>
    </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading text-center uppercase bold"> Answered </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked user-list" id="list-answered">
        </ul>
        </div>
      </div>
    </div>
</div>

<%= content_for :javascript do %>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script>
    $(document).ready(function(){
      // Initialize Firebase
      var config = {
        apiKey: "<%=Rails.application.secrets.firebase_apiKey %>",
        authDomain: "<%=Rails.application.secrets.firebase_authDomain %>",
        databaseURL: "<%=Rails.application.secrets.firebase_databaseURL %>",
        projectId: "<%=Rails.application.secrets.firebase_projectId %>",
        storageBucket: "<%=Rails.application.secrets.firebase_storageBucket %>",
        messagingSenderId: "<%=Rails.application.secrets.firebase_messagingSenderId %>"
      };
      firebase.initializeApp(config);

      $("#btn-chat").click(function(){
        sendMessage()
      })

      $("#chat-message").keypress(function(e) {
          if($(this).val != "" && e.which == 13){
              sendMessage()
          }
      });

      var cities = "<%=@channel_cities %>".replace(/&quot;/g, "")

      var messageRef = firebase.database().ref('/chats').limitToLast(100);
      var number = 1;
      messageRef.on('child_added', function(snapshot) {
          var key = snapshot.key
          var val = snapshot.val()

          var date_split = val.datetime.split(" ")
          var date = date_split[1] + ", " + date_split[2] + " " + date_split[3];
          var temp_date = new Date(date);
          var message_date = temp_date.setDate(temp_date.getDate() + 3)
          var current_date = new Date();

          if(cities.indexOf(val.location) > -1){
            $(".tab-content").prepend(' <div id="'+key+'" class="tab-pane fade"> <div class="chat-header"><span class="chat-name">#'+val.username+' ( ' + val.email + ' ) </span></div> <ul class="message-list"> </ul> </div>')

            if( val.username != "undefined"){
              var html = '<li><a data-toggle="pill" href="#'+key+'" id="pill-'+key+'" onclick=setKey("'+key+'")>'+val.username+ ' <span class="label label-default"></span></a> </li>'

              if(new Date(message_date) >= new Date() ){
                $("#list-answered").prepend(html)
                $("#list-unanswer").prepend(html)
              }
            }
          }

          firebase.database().ref('/chats/'+ key + '/message').on('child_added', function(snap) {
            var value = snap.val()
            message = message_list(value)

            $(".tab-content").children("div#"+key).children("ul.message-list").append(message)
            if(value.type == 'admin'){
              $("#list-answered").find("a#pill-"+key).show()
              $("#list-unanswer").find("a#pill-"+key).hide()
            }else{
              $("#list-answered").find("a#pill-"+key).hide()
              $("#list-unanswer").find("a#pill-"+key).show()
            }
          });
      });

      // $("#user-list").html("")
      // $(".tab-content").html("")

      // firebase.database().ref('/chats/').limitToLast(20).once('value').then(function(snapshot) {
      //   snapshot.forEach(function(item) {
      //     var key = item.key
      //     var val = item.val()
      //     $("#user-list").prepend('<li><a data-toggle="pill" href="#'+key+'">'+val.username+'</a></li>')
      //     var message = '';
      //     $.each(val.message, function(k, v) {
      //       message = message + message_list(v)
      //     });
      //     $(".tab-content").prepend(' <div id="'+key+'" class="tab-pane fade"> <div class="chat-header"><span class="chat-name">#'+val.username+'</span></div> <ul class="message-list"> '+message+' </ul> <input type="hidden" name= "key" class="chat-key" value="'+key+'"/></div>')
      //   });
      // });

    })
    function setKey(key){
      $("#key").val(key)
    }

    function message_list(value){
      return "<li class='message-content'> <div class='message-header'> <p class='display-name'>"+value.username+"</p> <span class='timestamp'>" +value.time +"</span></div><div class='message-body'>"+ value.message + "</div></li>"
    }

    function sendMessage(){
        if($("#chat-message").val() !== ""){
          var message = $("#chat-message").val()
          var newPostKey = $("#key").val()

          var messageKey = firebase.database().ref().child('chats/' + newPostKey +'/message').push().key;
          firebase.database().ref('chats/' + newPostKey +'/message/' + messageKey).set({
            username: "<%=current_admin.email[0, current_admin.email.index('@')]%>",
            message: message,
            type: 'admin',
            time: formatAMPM(new Date())
          });

          $("#chat-message").val('')
        }
    }
    // function parameterize(value){
    //   return value.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');
    // }
  </script>
<% end %>
