<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Preferences' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Website Preferences</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_tag admins_preferences_path, :class => 'form-horizontal', :multipart => true do %>
          <% if @preference.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <strong>Ops! <%= pluralize(@preference.errors.count, "error") %> found:</strong><br/>
              <ul>
                <% @preference.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= label_tag :copyright_text, 'Copyright text', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_field_tag :copyright_text, @preference.copyright_text, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :facebook_url, 'Facebook URL', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_field_tag :facebook_url, @preference.facebook_url, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :twitter_url, 'Twitter URL', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_field_tag :twitter_url, @preference.twitter_url, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :linked_in_url, 'LinkedIn URL', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_field_tag :linked_in_url, @preference.linked_in_url, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :about_megavision, 'About Megavision content', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_area_tag :about_megavision, @preference.about_megavision, :class => 'form-control', :rows => 5 %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :about_starnet, 'About Starnet content', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_area_tag :about_starnet, @preference.about_starnet, :class => 'form-control', :rows => 5 %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :company_history, 'Company history content', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_area_tag :company_history, @preference.company_history, :class => 'form-control', :rows => 5 %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :check_area, 'Check Area Title', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_field_tag :check_area, @preference.check_area, :class => 'form-control', :rows => 5 %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :company_vision_missions, 'Company vision and mission', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9 req-field" data-offset-class="col-sm-offset-3">
              <% if @preference.company_vision_missions.any? %>
                <% @preference.company_vision_missions.each do |vm| %>
                  <div class="input-group">
                    <%= text_field_tag 'company_vision_missions[]', vm, :class => 'form-control' %>
                    <span class="input-group-btn">
                      <button class="btn btn-default req-remove" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                      <button class="btn btn-default req-add" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                  </div>
                <% end %>
              <% else %>
                <div class="input-group">
                  <%= text_field_tag 'company_vision_missions[]', '', :class => 'form-control' %>
                  <span class="input-group-btn">
                    <button class="btn btn-default req-remove" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                    <button class="btn btn-default req-add" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                  </span>
                </div>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :addresses, 'Company address', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9 req-field" data-offset-class="col-sm-offset-3">
              <% if @preference.addresses.any? %>
                <% @preference.addresses.each do |vm| %>
                  <div class="input-group">
                    <%= text_field_tag 'addresses[]', vm, :class => 'form-control', :placeholder => 'Name|Address Location|Phone' %>
                    <span class="input-group-btn">
                      <button class="btn btn-default req-remove" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                      <button class="btn btn-default req-add" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                  </div>
                <% end %>
              <% else %>
                <div class="input-group">
                  <%= text_field_tag 'addresses[]', '', :class => 'form-control', :placeholder => 'Format: Address Name|Address Location|Phone' %>
                  <span class="input-group-btn">
                    <button class="btn btn-default req-remove" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                    <button class="btn btn-default req-add" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                  </span>
                </div>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :subscribe_emails, 'Subscribe Email', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9 req-field" data-offset-class="col-sm-offset-3">
              <% if @preference.subscribe_emails.any? %>
                <% @preference.subscribe_emails.each do |vm| %>
                  <div class="input-group">
                    <%= text_field_tag 'subscribe_emails[]', vm, :class => 'form-control', :placeholder => 'Email|City' %>
                    <span class="input-group-btn">
                      <button class="btn btn-default req-remove" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                      <button class="btn btn-default req-add" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                  </div>
                <% end %>
              <% else %>
                <div class="input-group">
                  <%= text_field_tag 'subscribe_emails[]', '', :class => 'form-control', :placeholder => 'Email|City' %>
                  <span class="input-group-btn">
                    <button class="btn btn-default req-remove" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                    <button class="btn btn-default req-add" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                  </span>
                </div>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :contact_emails, 'Contact Email', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9 req-field" data-offset-class="col-sm-offset-3">
              <% if @preference.contact_emails.any? %>
                <% @preference.contact_emails.each do |vm| %>
                  <div class="input-group">
                    <%= text_field_tag 'contact_emails[]', vm, :class => 'form-control' %>
                    <span class="input-group-btn">
                      <button class="btn btn-default req-remove" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                      <button class="btn btn-default req-add" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                  </div>
                <% end %>
              <% else %>
                <div class="input-group">
                  <%= text_field_tag 'contact_emails[]', '', :class => 'form-control' %>
                  <span class="input-group-btn">
                    <button class="btn btn-default req-remove" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                    <button class="btn btn-default req-add" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                  </span>
                </div>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :chat_title, 'Chat Title', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_field_tag :chat_title, @preference.chat_title, :class => 'form-control', :rows => 5 %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :chat_off_message, 'Chat Status', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= radio_button_tag :chat_status, 1, (@preference.chat_status == true)  %> On
              <%= radio_button_tag :chat_status, 0, (@preference.chat_status == false)  %> Off
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :chat_off_message, 'Chat Off Message', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= text_field_tag :chat_off_message, @preference.chat_off_message, :class => 'form-control', :rows => 5 %>
            </div>
          </div>

          <a data-toggle="collapse" href="#background-images" aria-expanded="false" aria-controls="background-images">Change background images</a>
          <div class="collapse" id="background-images">
            <div class="well">
              <div class="form-group">
                <%= label_tag :background_area_channel, 'Area channel', :class => 'col-sm-3 control-label' %>
                <div class="col-sm-4">
                  <% if @preference.try(:background_area_channel_url) %>
                    <%= image_tag @preference.background_area_channel_url, :class => 'img-responsive img-thumbnail' %>
                  <% end %>
                  <%= file_field_tag :background_area_channel %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :background_question_answer, 'Question and answer', :class => 'col-sm-3 control-label' %>
                <div class="col-sm-4">
                  <% if @preference.try(:background_question_answer_url) %>
                    <%= image_tag @preference.background_question_answer_url, :class => 'img-responsive img-thumbnail' %>
                  <% end %>
                  <%= file_field_tag :background_question_answer %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :background_history, 'Company History', :class => 'col-sm-3 control-label' %>
                <div class="col-sm-4">
                  <% if @preference.try(:background_history_url) %>
                    <%= image_tag @preference.background_history_url, :class => 'img-responsive img-thumbnail' %>
                  <% end %>
                  <%= file_field_tag :background_history %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :background_vision_mission, 'Company vision mission', :class => 'col-sm-3 control-label' %>
                <div class="col-sm-4">
                  <% if @preference.try(:background_vision_mission_url) %>
                    <%= image_tag @preference.background_vision_mission_url, :class => 'img-responsive img-thumbnail' %>
                  <% end %>
                  <%= file_field_tag :background_vision_mission %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :background_vacancy, 'Vacancy', :class => 'col-sm-3 control-label' %>
                <div class="col-sm-4">
                  <% if @preference.try(:background_vacancy_url) %>
                    <%= image_tag @preference.background_vacancy_url, :class => 'img-responsive img-thumbnail' %>
                  <% end %>
                  <%= file_field_tag :background_vacancy %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :background_contact, 'Contact', :class => 'col-sm-3 control-label' %>
                <div class="col-sm-4">
                  <% if @preference.try(:background_contact_url) %>
                    <%= image_tag @preference.background_contact_url, :class => 'img-responsive img-thumbnail' %>
                  <% end %>
                  <%= file_field_tag :background_contact %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 text-right">
              <%= link_to 'Discard', admins_preferences_path, :class => 'btn btn-warning' %>
            </div>
            <div class="col-md-6 text-left">
              <%= submit_tag 'Save', :class => 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
