<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Products', admins_products_path %>
    <%= breadcrumb_item 'Edit Product' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Edit <%= @product.title %></h1>
  </div>
</div>

<%= render 'form', product: @product %>

