<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @theme.title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato|Open+Sans' %>
    <%= @css.render.html_safe%>
  </head>

  <body class="<%=@theme.body_class%>">
    <% menu_content = '' %>

  <% @menus.each do |menu| %>
    <% if menu.menu_childs.count == 0 %>
      <% link_menu = "#" %>

      <% if menu.link_type == "scroll" %>
        <% unless menu.disable_content %>
          <% link_menu = "##{menu.slug}" %>
        <% end %>

        <% menu_content += @menu.render({"link_to_menu" => (link_to menu.menu, is_landing_page? ? link_menu : root_path + link_menu)}) %>
      <%else%>
        <% unless menu.disable_content %>
          <% if menu.slug == 'area-cakupan'%>
            <% link_menu = public_check_area_path %>
          <% end %>
        <% end %>

        <% menu_content += @menu.render({"link_to_menu" => (link_to menu.menu, link_menu)}) %>
      <% end %>

    <% else %>
      <% child_content = '' %>
      <% menu.menu_childs.active.each do |child| %>
        <% link_menu = "#" %>

        <% if child.link_type == "scroll" %>
          <% unless child.disable_content %>
            <% link_menu = "##{child.slug}" %>
          <% end %>

          <% child_content += (link_to child.menu, is_landing_page? ? link_menu : root_path + link_menu) %>
        <% else %>
          <% unless child.disable_content %>
            <% if child.slug == 'area-cakupan'%>
              <% link_menu = public_check_area_path %>
            <% end %>
          <% end %>

          <% child_content += (link_to child.menu, link_menu) %>
        <% end %>

      <% end %>

      <% menu_content += @dropdown_menu.render({"dropdown_menu_title"=> menu.menu,"link_to_menu" => child_content}) %>
    <% end %>

  <% end %>
    <%=@header.render({"menu_content" => menu_content}, { strict_variables: true }).html_safe%>
    <%= yield %>
    <% notification_type = 'hidden'
       notification_message = '' %>
    <% if notice %>
      <% notification_type = "alert-#{notice}" %>
      <% if notice.eql?('success') %>
        <% notification_message = "<strong>Thank you!</strong> Your message has been received, we'll contact you shortly." %>
      <% else %>
        <% notification_message = "<strong>Sorry!</strong> Something went wrong when submitting your message, please double check." %>
      <% end %>
    <% end %>

    <% option_channel = ''%>
    <% @channel_cities.each do |city| %>
      <% option_channel += "<option value='#{city['slug']}'>#{city['city']}</option>" %>
    <% end %>

    <%=@footer.render({
      "chat_title" => @preference.chat_title,
      "chat_status" => @preference.chat_status ? "" : "hidden",
      "chat_off_message" => @preference.chat_off_message,
      "option_channel" => option_channel.html_safe,
      "copyright_text" => @preference.copyright_text,
      "instagram_url" => @preference.linked_in_url,
      "facebook_url" => @preference.facebook_url,
      "twitter_url" => @preference.twitter_url,"notification_type" => notification_type, "notification_message" => notification_message}).html_safe%>

    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false, 'data-turbolinks-track' => 'reload' %>

    <%=@js.render({
      "firebase_apiKey" => Rails.application.secrets.firebase_apiKey,
      "firebase_authDomain" => Rails.application.secrets.firebase_authDomain,
      "firebase_databaseURL" => Rails.application.secrets.firebase_databaseURL,
      "firebase_projectId" => Rails.application.secrets.firebase_projectId,
      "firebase_storageBucket" => Rails.application.secrets.firebase_storageBucket,
      "firebase_messagingSenderId" => Rails.application.secrets.firebase_messagingSenderId
    }).html_safe%>
    <%= javascript_include_tag "https://www.gstatic.com/firebasejs/4.3.0/firebase.js", 'data-turbolinks-eval' => false, 'data-turbolinks-track' => 'reload' %>
    <%= yield :javascript %>
  </body>
</html>
