<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Megavision</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato|Open+Sans' %>
  </head>

  <body class="landing-page">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-megavision" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, :class => 'navbar-brand' do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="navbar-megavision">
          <div class="check-area-par">
            <%= link_to public_check_area_path, :class => 'check-area-btn' do %>
              <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Check Area
            <% end %>
          </div>
          <ul class="nav navbar-nav navbar-right margin-0">
            <li><%= link_to 'Home', is_landing_page? ? '#sec-home' : root_path + '#sec-home' %></li>
            <li><%= link_to 'Product', is_landing_page? ? '#sec-product' : root_path + '#sec-product' %></li>
            <li><%= link_to 'About', is_landing_page? ? '#sec-about' : root_path + '#sec-about' %></li>
            <li><%= link_to 'Q & A', is_landing_page? ? '#sec-qa' : root_path + '#sec-qa' %></li>
            <li><%= link_to 'Job Vacancy', is_landing_page? ? '#sec-vacancy' : root_path + '#sec-vacancy' %></li>
            <li><%= link_to 'Contact', is_landing_page? ? '#sec-contact' : root_path + '#sec-contact' %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <%=render "shared/support_chat" %>

    <footer class="footer bg-grey text-center">
      <a href="#sec-home" class="bg-grey to-top white"><i class="fa fa-angle-double-up font-18" aria-hidden="true"></i></a>
      <p class="font-12 white"><%= @preference.copyright_text %></p>
      <%= link_to @preference.linked_in_url, :class => 'white social' do %>
        <i class="fa fa-linkedin font-24" aria-hidden="true"></i>
      <% end %>
      <%= link_to @preference.facebook_url, :class => 'white social' do %>
        <i class="fa fa-facebook font-24" aria-hidden="true"></i>
      <% end %>
      <%= link_to @preference.twitter_url, :class => 'white social' do %>
        <i class="fa fa-twitter font-24" aria-hidden="true"></i>
      <% end %>
    </footer>

    <% if notice %>
      <div class="alert alert-<%= notice %> notification" role="alert">
        <% if notice.eql?('success') %>
          <strong>Thank you!</strong> Your message has been received, we'll contact you shortly.
        <% else %>
          <strong>Sorry!</strong> Something went wrong when submitting your message, please double check.
        <% end %>
      </div>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false, 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/firebasejs/4.3.0/firebase.js", 'data-turbolinks-eval' => false, 'data-turbolinks-track' => 'reload' %>
    <%= yield :javascript %>
  </body>
</html>
