<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for([:admins, menu_setting.becomes(MenuSetting)], :html => { :class => 'form-horizontal' }) do |f| %>
          <% if menu_setting.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <strong>Ops! <%= pluralize(menu_setting.errors.count, "error") %> found:</strong><br/>
              <ul>
                <% menu_setting.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :menu, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :menu, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :position, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.number_field :position, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :type, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :type, @menu_types, {}, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group form-parrent">
            <%= f.label :parent, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :parent_id, @menu_parents, {}, :multiple => false, :class => 'chosen' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :active, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :is_active, [['Yes', true], ['No', false]], {}, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :disable_content, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :disable_content, [['Yes', true], ['No', false]], {}, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :hide_content, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :hidden_content, [['Yes', true], ['No', false]], {}, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :html_content, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-9">
              <%= f.text_area :html_content, :class => 'form-control', :rows => 10 %>
            </div>
          </div>

          <% if menu_setting.html_additional.present? %>
            <p> HTML Additional </p>
            <hr />
              <% menu_setting.html_additional.each do |additional| %>
                <div class="form-group">
                  <%= label_tag "html_additional[#{additional[0]}]", additional[0].to_s.titleize, :class => 'col-sm-2 control-label' %>
                  <div class="col-sm-9">
                    <%= text_area_tag "html_additional[#{additional[0]}]", additional[1], :class => 'form-control', :rows => 10 %>
                  </div>
                </div>
              <% end %>
            <hr />
          <% end %>
          <div class="row">
            <div class="col-md-6 text-right">
              <%= link_to admins_menu_settings_path, :class => 'btn btn-warning' do %>
                <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
              <% end %>
            </div>
            <div class="col-md-6 text-left">
              <%= f.submit 'Save', :class => 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      showHideParentMenu($("#menu_setting_type").val())

      $("#menu_setting_type").change(function(){
        showHideParentMenu($(this).val())
      })

      function showHideParentMenu(val){
        if(val == "MenuParent"){
          $(".form-parrent").addClass("hidden")
        }else{
          $(".form-parrent").removeClass("hidden")
        }
      }
    });
  </script>
<% end %>
